<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <connectionStrings>
    <add name="WinSCPSyncContext" connectionString="Data Source=|DataDirectory|jobs.sdf" providerName="System.Data.SqlServerCe.4.0" />
  </connectionStrings>
  <appSettings>
    <!-- For increased security I encourage you to change the values below to the ones you like -->
    <add key="CryptorInitializationVector" value="USAZBGAW" />
    <add key="CryptorSecretKey" value="GSYAHAGCBDUUADIADKOPAAAW" />
  </appSettings>
  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5" />
  </startup>
</configuration>